.photoBy {
    display: none;
}

body {
    margin: 0;
}

p {
    margin: 0;
}

.index-bg {
    background: url('./assets/image/index-bg.jpg') 50% 50% no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.index-wrap {
    position: fixed;
    border-radius: 15px;
    background: #FFF;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    overflow: hidden;
}

.category-wrap {
    display: flex;
}
.category-button {
    display: flex;
    background: #656565;
    width: 50%;
    height: 40px;
    color: #FFF;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: .5;
}
.category-button.active {
    opacity: 1;
}

.member-wrap {
    padding: 10px;
    width: 300px;
}
.member-wrap-child.float {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
}
.member-title {
    text-align: center;
    margin-bottom: 15px;
}
.member-wrap label {
    display: inline-block;
    margin-bottom: 20px;
    width: 80px;
}
.member-wrap input {
    width: 184px;
}
.member-wrap .member-submit {
    display: block;
    margin: 0 auto;
    width: 100px;
}